# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB={{ project_name | replace('-', '_') }}

# Application
DEBUG=false
SECRET_KEY=changeme-replace-in-production
