{
  "recommendations": [
    "ms-python.python",
    "ms-python.debugpy",
    "charliermarsh.ruff",
    "esbenp.prettier-vscode"{% if has_frontend %},
    "svelte.svelte-vscode",
    "bradlc.vscode-tailwindcss",
    "dbaeumer.vscode-eslint",
    "stylelint.vscode-stylelint"{% endif %}
  ]
}
